html
    head
        link(rel="stylesheet", href="stylesheets/main.css")
    body
        form(action='/api' method ='POST') 
            input(type="text" name ="name")
            br
            input(type="text" name ="age")
            br
            button(type="submit" value="send")
        